app/modules/__pycache__/__init__.cpython-312.pyc
app/modules/__pycache__/config.cpython-312.pyc
app/modules/__pycache__/influxdb.cpython-312.pyc
app/modules/__pycache__/logic.cpython-312.pyc
html/data.html
html/data.json
html/data.json.example
html/dev.html
html/data.html
html/data.json
html/data.json.example
html/dev.html
html/raw.json copy.example
html/thankyou.html
html/data.html
html/data.json
html/data.json.example
html/dev.html
